global
    log stdout format raw local0

defaults
    log global
    mode tcp
    option tcplog
    timeout connect 5s
    timeout client 1h
    timeout server 1h

frontend postgres_admin
    bind 0.0.0.0:15432
    maxconn 20
    default_backend postgres_backend

resolvers docker
    nameserver docker_dns 127.0.0.11:53
    resolve_retries 3
    timeout resolve 1s
    timeout retry 1s
    hold valid 10s
    hold obsolete 10s

backend postgres_backend
    server postgres postgres:5432 check inter 5s fall 3 rise 2 resolvers docker init-addr last,libc,none
