global
    log stdout format raw local0

defaults
    log global
    mode tcp
    option tcplog
    timeout connect 5s
    timeout client 1h
    timeout server 1h

frontend postgres_admin
    bind 0.0.0.0:15432
    maxconn 20
    default_backend postgres_backend

backend postgres_backend
    server postgres postgres:5432 check inter 5s fall 3 rise 2
